\documentclass[11pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}
\usepackage[margin=0.75in]{geometry}
\usepackage{enumitem}
\usepackage{titlesec}
\usepackage{hyperref}
\usepackage{xcolor}

\pagestyle{empty}
\setlength{\parindent}{0pt}

\titleformat{\section}{\large\bfseries\uppercase}{}{0em}{}[\titlerule]
\titlespacing{\section}{0pt}{12pt}{6pt}

\begin{document}

% Header
\begin{center}
    {\LARGE\bfseries \VAR{name}}\\[4pt]
    \VAR{email}
    \BLOCK{if phone} $\cdot$ \VAR{phone}\BLOCK{endif}
    \BLOCK{if location} $\cdot$ \VAR{location}\BLOCK{endif}
\end{center}

% Summary
\BLOCK{if summary}
\section{Summary}
\VAR{summary}
\BLOCK{endif}

% Experience
\BLOCK{if experience}
\section{Experience}
\BLOCK{for entry in experience}
\BLOCK{if entry.subsection}\textbf{\VAR{entry.subsection}}\\[2pt]\BLOCK{endif}
\begin{itemize}[leftmargin=1.5em,topsep=0pt,itemsep=1pt]
    \item \VAR{entry.text}
\end{itemize}
\BLOCK{if not loop.last}\vspace{4pt}\BLOCK{endif}
\BLOCK{endfor}
\BLOCK{endif}

% Education
\BLOCK{if education}
\section{Education}
\BLOCK{for entry in education}
\BLOCK{if entry.subsection}\textbf{\VAR{entry.subsection}}\\[2pt]\BLOCK{endif}
\VAR{entry.text}
\BLOCK{if not loop.last}\\[4pt]\BLOCK{endif}
\BLOCK{endfor}
\BLOCK{endif}

% Skills
\BLOCK{if skills}
\section{Skills}
\BLOCK{for entry in skills}
\VAR{entry.text}\BLOCK{if not loop.last} $\cdot$ \BLOCK{endif}
\BLOCK{endfor}
\BLOCK{endif}

% Projects
\BLOCK{if projects}
\section{Projects}
\BLOCK{for entry in projects}
\BLOCK{if entry.subsection}\textbf{\VAR{entry.subsection}}\\[2pt]\BLOCK{endif}
\begin{itemize}[leftmargin=1.5em,topsep=0pt,itemsep=1pt]
    \item \VAR{entry.text}
\end{itemize}
\BLOCK{endfor}
\BLOCK{endif}

% Certifications
\BLOCK{if certifications}
\section{Certifications}
\BLOCK{for entry in certifications}
\VAR{entry.text}\BLOCK{if not loop.last}\\[2pt]\BLOCK{endif}
\BLOCK{endfor}
\BLOCK{endif}

\end{document}
